# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# misc
cli/TinyBasicPlus.cpp
cli/tbp
notes.txt

**/.vs
**/Debug
/Arduino/__vm
*.s#*
*.lck
*.b#*
*.log
**/.vscode
