# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# misc
cli/TinyBasicPlus.cpp
cli/tbp
notes.txt

**/.vs
**/Debug
/Arduino/__vm
*.s#*
*.lck
*.b#*
*.log
**/.vscode
/Simulator/obj-x86_64-linux-gnu
**/*.eep
**/*.hex
**/*.elf
simkeytoy
/Windows/avrkeytoy-windows/packages
